
    
    $dark: #333333;
    $l_gray: #cccccc;
    $gray: #999999;
    $red: #f38181;
    $green: #95e1d3;
    $yellow: #fce38a;
    $white: #ffffff;
    $mon: 'Montserrat', 'Arial', sans-serif;
    $rob: 'Roboto Slab', 'Arial',  serif;
    $kau: 'Kaushan Script', 'Arial',  serif;
    

    
 