/* **********   <main> ******************* */

.partner {
    padding-top: 50px;
    padding-bottom: 54px;
}

h2 {
   font-family: 'MonB', serif;
   font-weight: 700;
   font-size: 22px;
   color: #333333;
   text-align: center;
   margin-bottom: 20px;
}

.img_team {
    background-position: center;
    margin: 0 auto;
    margin-bottom: 18px;
}

.img_after {
    position: relative;
    width: 121px;
    margin: 0 auto;
}

.img_after::after {
    position: absolute;
    display: block;
    content: "";
    bottom: 0;
    right: 0;
    width: 32px;
    height: 32px;
    border: 3px solid #ffffff;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center; 
}

.partner_list li:nth-child(1) .img_after::after {
    background-image: url("../../img/icon/1.png");
    background-color: #ff4e50;
}

.partner_list li:nth-child(2) .img_after::after {
    background-image: url("../../img/icon/2.png");
    background-color: #ffa507;
}

.partner_list li:nth-child(3) .img_after::after {
    background-image: url("../../img/icon/3.png");
    background-color: #1cd7ad;
}

.partner_list li:nth-child(4) .img_after::after {
    background-image: url("../../img/icon/4.png");
    background-color: #4e73db;
}


h3 {
   font-family: 'MonB', serif;
   font-weight: 700;
   font-size: 14px;
   color: #333333;
   text-align: center;
   margin-bottom: 18px;
}

.partner_list p {
    width: 200px;
    text-align: center;
    font-family: 'RobL', serif;
    font-weight: 300;
    font-size: 14px;
    color: #666666;
    margin: 0 auto;
    margin-bottom: 25px;
 }

 .button_other_partners {
    background: #ffffff;
    border: 2px solid #ff4e50;
    color: #ff4e50;
 }